respawnTemplates[] = { "Counter","MenuPosition", "MenuInventory", "Spectator" };
respawnOnStart = -1;
respawn = 3;
respawnDialog = 0;
respawnDelay = 15;

class CfgRoles
{
    #include "loadouts\Roles_NATO.cfg"    
};

class CfgRespawnInventory
{
    #include "loadouts\Loadouts_NATO.cfg"
    // #inclde "loadouts\Loadouts_standard_night.cfg"    
};
